<h1 id="game" data-game-id=<%= @game.id %>>Welcome to Javascript Racer</h1>

<p><%= @player1.name %></p>
<table class="racer_table">
  <tr id="row1">
    <% 30.times do %>
      <td></td>
    <% end %>
  </tr>
  <tr id="row2">
    <% 30.times do %>
      <td></td>
    <% end %>
  </tr>
</table>
<p><%= @player2.name %></p>

<script>

  $(document).ready(function() {
    $("tr#row1 td:first").addClass("active");
    $("tr#row2 td:first").addClass("active");
    // Move player's position by changing the td active class
    function movePlayer(playerNum) {
      var playerPosition = $("#row" + playerNum + " .active").index();
      $("#row" + playerNum + " td").eq(playerPosition).removeClass("active");
      $("#row"+ playerNum + " td").eq(playerPosition + 1).addClass("active");
    }

    // Check if one player has won
    function hasWon(playerNum) {
      var position = $("#row" + playerNum + " .active").index();
      if (position + 1 === $("#row" + playerNum + " td").length) {
        return true
      }
    }

    // Send the winner information to ActiveRecord
    function submitWinner(playerNum) {
      var gameId = $("#game").data("game-id");

      var loser;
      playerNum === 1 ? loser = 2 : loser = 1;
      var loserIndex = $("#row" + loser + " .active").index();

      $.ajax({
        type: "PUT",
        url: "/games/" + gameId,
        data: {"game_id": gameId,
               "winner_id": playerNum,
               "loser_index": loserIndex
        }
      }).done(function(response){
        window.location = "/games/" + gameId
      })      
    }

    // Detect keyup event to trigger the other functions
    $(document).keyup(function(event) {
      if (event.keyCode === 81){
        movePlayer(1);
      }
      else if (event.keyCode === 80) {
        movePlayer(2);
      }
      if (hasWon(1)) {
        alert("Player 1 has won!");
        submitWinner(1);
      }
      else if (hasWon(2)) {
        alert("Player 2 has won!");
        submitWinner(2);
      }
    })
  })
</script>