<div class="container">
  <h1>Welcome to Javascript Racer</h1>
  <form action="/games/new" method="POST">
  Player 1: <input type="text" name="player1[name]">
  <br/><br/>
  Player 2: <input type="text" name="player2[name]">
  <br/><br/>
  <input type="submit" value="Start new game">
  </form>
</div>